<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fungo.system.dao.BannerDao">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.fungo.system.entity.Banner">
		<id column="id" property="id" />
		<result column="action_type" property="actionType" />
		<result column="position_id" property="positionId" />
		<result column="position_code" property="positionCode" />
		<result column="release_time" property="releaseTime" />
		<result column="target_type" property="targetType" />
		<result column="target_id" property="targetId" />
		<result column="title" property="title" />
		<result column="intro" property="intro" />
		<result column="tag" property="tag" />
		<result column="cover_image" property="coverImage" />
		<result column="href" property="href" />
		<result column="state" property="state" />
		<result column="created_at" property="createdAt" />
		<result column="updated_at" property="updatedAt" />
		<result column="created_by" property="createdBy" />
		<result column="created_name" property="createdName" />
		<result column="sort" property="sort" />
		<result column="adv_type" property="advType" />
		<result column="generalize_title" property="generalizeTitle" />
		<result column="begin_date" property="beginDate" />
		<result column="end_date" property="endDate" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, action_type AS actionType, position_id AS positionId, position_code AS positionCode, release_time AS releaseTime, target_type AS targetType, target_id AS targetId, title, intro, tag, cover_image AS coverImage, href, state, created_at AS createdAt, updated_at AS updatedAt, created_by AS createdBy, created_name AS createdName, sort ,
		generalize_title AS	generalizeTitle , begin_date AS beginDate , end_date AS endDate
    </sql>
    
  <!--   <update id="updateState">
  		update t_banner set state=#{state} where id=#{bannerId}
  	</update>
  
   <update id="updateSort">
  		update t_banner set sort=#{sort} where id=#{bannerId}
   </update> -->
   
   <!-- 
   		获取每日格言 
   		relDate 日期
   	-->
   <select id="getDailyMotto" resultType="com.fungo.system.entity.Banner" parameterType="String">
  		select * from t_banner where adv_type = 2 and release_time = #{relDate}
   </select>

	<select id="beforeNewDateBanner" resultType="com.fungo.system.entity.Banner" >
  		select
		<include refid="Base_Column_List"></include>
  		 from t_banner where position_code = '0005' and state = '0' and
		(end_date > now()  or date_type  = 1 )
  		  order by sort desc
   </select>

	<select id="afterNewDateBanner" resultType="com.fungo.system.entity.Banner" >
  		select
		<include refid="Base_Column_List"></include>
  		 from t_banner where position_code = '0005' and state = '0' and now() > end_date order by sort desc
   </select>



</mapper>
