<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fungo.system.dao.IncentTaskedDao">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.fungo.system.entity.IncentTasked">
		<id column="id" property="id" />
		<result column="mb_id" property="mbId" />
		<result column="current_task_id" property="currentTaskId" />
		<result column="current_task_name" property="currentTaskName" />
		<result column="task_idt_ids" property="taskIdtIds" />
		<result column="task_type" property="taskType" />
		<result column="created_at" property="createdAt" />
		<result column="updated_at" property="updatedAt" />
		<result column="ext1" property="ext1" />
		<result column="ext2" property="ext2" />
		<result column="ext3" property="ext3" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, mb_id AS mbId, current_task_id AS currentTaskId, current_task_name AS currentTaskName, task_idt_ids AS taskIdtIds, task_type AS taskType, ext1, ext2, ext3
    </sql>

	<select id="getIncentTaskedByUserAndType" parameterType="java.lang.String" resultType="com.fungo.system.entity.IncentTasked" >
		SELECT 
		 <include refid="Base_Column_List"></include>
		 FROM t_incent_tasked WHERE mb_id = #{memberId} and task_type = #{taskType}
	</select>

</mapper>
