<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fungo.system.mall.mapper.MallSeckillDao">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.fungo.system.mall.entity.MallSeckill">
		<id column="id" property="id" />
		<result column="goods_id" property="goodsId" />
		<result column="goods_name" property="goodsName" />
		<result column="seckill_price_cy" property="seckillPriceCy" />
		<result column="seckill_price_vcy" property="seckillPriceVcy" />
		<result column="total_stock" property="totalStock" />
		<result column="residue_stock" property="residueStock" />
		<result column="start_time" property="startTime" />
		<result column="end_time" property="endTime" />
		<result column="cas_version" property="casVersion" />
		<result column="creator_id" property="creatorId" />
		<result column="creator_name" property="creatorName" />
		<result column="created_at" property="createdAt" />
		<result column="updated_at" property="updatedAt" />
		<result column="ext1" property="ext1" />
		<result column="ext2" property="ext2" />
		<result column="ext3" property="ext3" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, goods_id AS goodsId, goods_name AS goodsName, seckill_price_cy AS seckillPriceCy, seckill_price_vcy AS seckillPriceVcy, total_stock AS totalStock, residue_stock AS residueStock, start_time AS startTime, end_time AS endTime, cas_version AS casVersion, creator_id AS creatorId, creator_name AS creatorName, created_at AS createdAt, updated_at AS updatedAt, ext1, ext2, ext3
    </sql>

	<select id="querySeckillGoods" resultType="java.util.Map">
		/*FORCE_MASTER*/ SELECT
			gds.id AS goodsId,
			gds.goods_name,
			gds.goods_intro,
			gds.main_img,
			gds.sort,
			gds.goods_type,
			sk.seckill_price_vcy,
			sk.residue_stock,
			sk.start_time,
			sk.end_time
		FROM
			t_mall_seckill sk
			JOIN t_mall_goods gds
			ON sk.goods_id = gds.id
			AND
			( sk.start_time BETWEEN #{startTime} AND #{endTime} )

	</select>


</mapper>
