<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fungo.system.mall.mapper.MallGoodsDao">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.fungo.system.mall.entity.MallGoods">
		<id column="id" property="id" />
		<result column="cid" property="cid" />
		<result column="goods_name" property="goodsName" />
		<result column="market_price_cy" property="marketPriceCy" />
		<result column="market_price_vcy" property="marketPriceVcy" />
		<result column="goods_sn" property="goodsSn" />
		<result column="goods_status" property="goodsStatus" />
		<result column="goods_type" property="goodsType" />
		<result column="keywords" property="keywords" />
		<result column="main_img" property="mainImg" />
		<result column="goods_intro" property="goodsIntro" />
		<result column="sort" property="sort" />
		<result column="creator_id" property="creatorId" />
		<result column="creator_name" property="creatorName" />
		<result column="created_at" property="createdAt" />
		<result column="updated_at" property="updatedAt" />
		<result column="ext1" property="ext1" />
		<result column="ext2" property="ext2" />
		<result column="ext3" property="ext3" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, cid, goods_name AS goodsName, market_price_cy AS marketPriceCy, market_price_vcy AS marketPriceVcy, goods_sn AS goodsSn, goods_status AS goodsStatus, goods_type AS goodsType, keywords, main_img AS mainImg, goods_intro AS goodsIntro, sort, creator_id AS creatorId, creator_name AS creatorName, created_at AS createdAt, updated_at AS updatedAt, ext1, ext2, ext3
    </sql>

</mapper>
