<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fungo.system.dao.MemberNoticeDao">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.fungo.system.entity.MemberNotice">
		<id column="id" property="id" />
		<result column="mb_id" property="mbId" />
		<result column="ntc_type" property="ntcType" />
		<result column="is_read" property="isRead" />
		<result column="ntc_data" property="ntcData" />
		<result column="created_at" property="createdAt" />
		<result column="updated_at" property="updatedAt" />
		<result column="created_by" property="createdBy" />
		<result column="created_name" property="createdName" />
		<result column="ext1" property="ext1" />
		<result column="ext2" property="ext2" />
		<result column="ext3" property="ext3" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, mb_id AS mbId, ntc_type AS ntcType, is_read AS isRead, ntc_data AS ntcData, created_at AS createdAt, updated_at AS updatedAt, created_by AS createdBy, created_name AS createdName, ext1, ext2, ext3
    </sql>

</mapper>
