<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fungo.system.dao.MemberInfoDao">
  <resultMap id="BaseResultMap" type="com.fungo.system.entity.MemberInfo">
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="md_id" jdbcType="VARCHAR" property="mdId" />
    <result column="share_type" jdbcType="INTEGER" property="shareType" />
    <result column="isactive" jdbcType="CHAR" property="isactive" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_by" jdbcType="VARCHAR" property="updatedBy" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="rversion" jdbcType="INTEGER" property="rversion" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="parent_member_id" jdbcType="VARCHAR" property="parentMemberId" />
  </resultMap>

  <sql id="Base_Column_List">
    id, md_id as mdId , share_type as shareType , isactive, created_by as createdBy, created_at as createdAt , updated_by as updatedBy , updated_at as updatedAt ,
    rversion, description , parent_member_id as parentMemberId
  </sql>

  <select id="selectListByRecommendId" resultType="com.fungo.system.entity.MemberInfo" >
    select
    <include refid="Base_Column_List"></include>
    FROM t_member_info
    where  parent_member_id = #{memberId}
  </select>

</mapper>