<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fungo.system.dao.MemberNoDao">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.fungo.system.entity.MemberNo">
		<id column="id" property="id" />
		<result column="member_no" property="memberNo" />
		<result column="creacted_at" property="creactedAt" />
		<result column="updated_at" property="updatedAt" />
		<result column="member_id" property="memberId" />
		<result column="state" property="state" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, member_no AS memberNo, creacted_at AS creactedAt, updated_at AS updatedAt, member_id AS memberId, state
    </sql>
    
    <!-- 获取随机用户号 -->
    <select id="getRandomMemberNo" resultMap="BaseResultMap" >
		SELECT * FROM t_member_no B JOIN (SELECT CEIL(MAX(ID)*RAND()) AS ID FROM t_member_no where state=0) AS m ON B.id >= m.id LIMIT 1 
	</select>
	
</mapper>
