<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fungo.system.dao.MemberCircleMapper">
  <resultMap id="BaseResultMap" type="com.fungo.system.entity.MemberCircle">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="member_id" jdbcType="VARCHAR" property="memberId" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="circle_id" jdbcType="VARCHAR" property="circleId" />
    <result column="isactive" jdbcType="CHAR" property="isactive" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="rversion" jdbcType="INTEGER" property="rversion" />
    <result column="description" jdbcType="VARCHAR" property="description" />
  </resultMap>

  <sql id="Base_Column_List">
    id, member_id, `type`, circle_id, isactive, created_by, created_at, rversion, description
  </sql>

    <select id="selectMemberCircleByUserId" resultType="com.game.common.dto.community.MemberCmmCircleDto" >
        SELECT 
        cc.id,cc.circle_name as circleName ,cc.circle_icon as circleIcon
        from  t_cmm_circle cc where cc.state= 1 and
        id in (
            SELECT circle_id
            FROM  t_member_circle
            WHERE  isactive = 1 and member_id = #{userId}
        )
    </select>

    <select id="selectMemberCircleBycircleId" resultType="com.game.common.dto.user.MemberNameDTO">
        SELECT
            m.id,m.user_name as userName ,m.avatar
        from  t_member m  where m.state= 0 and
        m.id in (
            SELECT member_id
            FROM  t_member_circle
            WHERE  isactive = 1 and circle_id = #{circleId}
        )
    </select>
</mapper>