<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fungo.system.dao.MessageCodeDao">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.fungo.system.entity.MessageCode">
		<result column="id" property="id" jdbcType="VARCHAR"/>
		<result column="msg_type" property="msgType" jdbcType="VARCHAR"/>
		<result column="msg_code" property="msgCode" jdbcType="VARCHAR"/>
		<result column="phone_number" property="phoneNumber" jdbcType="VARCHAR"/>
		<result column="is_used" property="isUsed" jdbcType="VARCHAR"/>
		<result column="expiration" property="expiration" jdbcType="DATE"/>
		<result column="created_at" property="createdAt" jdbcType="DATE"/>
		<result column="updated_at" property="updatedAt" jdbcType="DATE"/>
		<result column="state" property="state" jdbcType="INTEGER"/>
		<result column="re_msg" property="reMsg" jdbcType="VARCHAR"/>
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, msg_type AS msgType, msg_code AS msgCode, phone_number AS phoneNumber, is_used AS isUsed, expiration, created_at as createdAt, updated_at as updatedAt,state , re_msg as  reMsg
    </sql>

</mapper>
