<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fungo.system.dao.ScoreRuleDao">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.fungo.system.entity.ScoreRule">
		<id column="id" property="id" />
		<result column="group_id" property="groupId" />
		<result column="name" property="name" />
		<result column="is_active" property="isActive" />
		<result column="extra" property="extra" />
		<result column="tip" property="tip" />
		<result column="max" property="max" />
		<result column="score" property="score" />
		<result column="code" property="code" />
		<result column="intro" property="intro" />
		<result column="created_at" property="createdAt" />
		<result column="updated_at" property="updatedAt" />
		<result column="code_idt" property="codeIdt" />
		<result column="incomie_freg_type" property="incomieFregType" />
		<result column="action_url" property="actionUrl" />
		<result column="task_type" property="taskType" />
		<result column="auth_level" property="authLevel" />
		<result column="ext1" property="ext1" />
		<result column="ext2" property="ext2" />
		<result column="ext3" property="ext3" />
		<result column="income_freq_intro" property="incomeFreqIntro" />
		<result column="creator_id" property="creatorId" />
		<result column="creator_name" property="creatorName" />
		<result column="sort" property="sort" />
		<result column="pls_task_id" property="plsTaskId" />
 	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, group_id AS groupId, name, is_active AS isActive, extra, tip, max, score, code, intro, created_at AS createdAt, updated_at AS updatedAt ,
        code_idt as codeIdt , incomie_freg_type  as incomieFregType, action_url as actionUrl, task_type as taskType, auth_level as authLevel, ext1 ,ext2 ,ext3,
        income_freq_intro as incomeFreqIntro , creator_id as creatorId , creator_name as creatorName , sort , pls_task_id as plsTaskId
    </sql>
	
	<select id="getScoreRule" parameterType="java.lang.String" resultType="com.fungo.system.entity.ScoreRule" >
	SELECT
	 <include refid="Base_Column_List"></include>
	 FROM t_score_rule WHERE ext2 = #{ext2Status} and group_id
		in
		(
			SELECT id FROM t_score_group WHERE task_type = 3 and is_active = 1 and task_flag = 1701
		)
	</select>

	<select id="getNewbieScoreRuleById" parameterType="java.lang.String" resultType="com.fungo.system.entity.ScoreRule" >
		SELECT
		<include refid="Base_Column_List"></include>
		FROM t_score_rule WHERE id = #{id} and is_active = 1  and group_id
		in
		(
			SELECT id FROM t_score_group WHERE task_type = 3 and is_active = 1 and task_flag = 1701
		)
	</select>

</mapper>
