<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fungo.community.dao.mapper.BasVideoJobDao">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.fungo.community.entity.BasVideoJob">
		<id column="id" property="id" />
		<result column="biz_type" property="bizType" />
		<result column="biz_id" property="bizId" />
		<result column="status" property="status" />
		<result column="created_at" property="createdAt" />
		<result column="updated_at" property="updatedAt" />
		<result column="video_id" property="videoId" />
		<result column="biz_video_url" property="bizVideoUrl" />
		<result column="re_video_url" property="reVideoUrl" />

		<result column="video_cover_image" property="videoCoverImage" />
		<result column="video_urls" property="videoUrls" />

	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, biz_type AS bizType, biz_id AS bizId, status, created_at AS createdAt, updated_at AS updatedAt, video_id AS videoId, biz_video_url AS bizVideoUrl, re_video_url AS reVideoUrl
    </sql>

</mapper>
