<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fungo.community.dao.mapper.CmmCommunityDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fungo.community.entity.CmmCommunity">
        <id column="id" property="id"/>
        <result column="game_id" property="gameId"/>
        <result column="name" property="name"/>
        <result column="icon" property="icon"/>
        <result column="intro" property="intro"/>
        <result column="cover_image" property="coverImage"/>
        <result column="type" property="type"/>
        <result column="state" property="state"/>
        <result column="followee_num" property="followeeNum"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
        <result column="created_by" property="createdBy"/>
        <result column="updated_by" property="updatedBy"/>
        <result column="hot_value" property="hotValue"/>
        <result column="recommend_state" property="recommendState"/>
        <result column="sort" property="sort"/>
        <result column="post_num" property="postNum"/>
    </resultMap>
    <!--PC2.0圈子首页列表 自定义一对多映射-->
    <resultMap id="communityManyResultMap" type="com.fungo.community.entity.portal.CmmCommunityIndex">
        <id column="id" property="id"/>
        <result column="game_id" property="gameId"/>
        <result column="name" property="name"/>
        <result column="icon" property="icon"/>
        <result column="intro" property="intro"/>
        <result column="cover_image" property="coverImage"/>
        <result column="type" property="type"/>
        <result column="state" property="state"/>
        <result column="followee_num" property="followeeNum"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
        <result column="created_by" property="createdBy"/>
        <result column="updated_by" property="updatedBy"/>
        <result column="hot_value" property="hotValue"/>
        <result column="recommend_state" property="recommendState"/>
        <result column="sort" property="sort"/>
        <result column="post_num" property="postNum"/>
        <!--<collection property="requestOrderPrices" ofType="com.chiway.mobile.requestorder.model.RequestOrderPrice" column="id">
            <result column="auto_fitting_name" property="autoFittingName"/>
            <result column="auto_fitting_num" property="autoFittingNum"/>
            <result column="price" property="price"/>
            <result column="source_status" property="sourceStatus"/>
            <result column="fitting_type" property="fittingType"/>
            <result column="fittingDescription" property="description"/>
        </collection>-->
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, game_id AS gameId, name, icon, intro, cover_image AS coverImage, type, state, followee_num AS followeeNum, created_at AS createdAt, updated_at AS updatedAt, created_by AS createdBy, updated_by AS updatedBy, hot_value AS hotValue, recommend_state AS recommendState, sort
    </sql>

    <!-- 社区玩家榜
    去除游戏评论
      UNION ALL
	  (SELECT 0 as c,0 as d,COUNT(*) as f,member_id FROM t_game_evaluation t WHERE game_id = #{gameId} and state = 0 GROUP BY t.member_id)
     -->
    <select id="getMemberOrder" resultType="com.game.common.bean.MemberPulishFromCommunity"
            parameterType="java.util.Map">
	  SELECT sum(f.c) as postNum,sum(f.d) as commentNum,sum(f.f) as evaNum,f.member_id as memberId ,  sum(like_num)  as likeNum  FROM (
	  (SELECT COUNT(*) as c, 0 as d ,0 as f,member_id ,like_num FROM t_cmm_post t WHERE community_id = #{communityId} and state = 1 GROUP BY t.member_id)
	  UNION ALL
	  		(SELECT 0 as c,COUNT(*) as d,0 as f,member_id ,0 as like_num FROM t_cmm_comment t WHERE community_id = #{communityId} and state = 0 GROUP BY t.member_id)
	  ) f GROUP BY f.member_id ORDER BY SUM(f.c+f.d+f.f) DESC,f.member_id DESC
    </select>

    <select id="listCommunityFolloweeNum" parameterType="java.lang.String" resultMap="BaseResultMap">
        select id,followee_num from t_cmm_community where id in
        <foreach collection="communityIds" item="communityId" open="(" close=")" separator=",">
            #{communityId}
        </foreach>
    </select>


    <!-- 查询社区评论数 -->
    <select id="getCommentNumOfCommunity" resultType="int" parameterType="String">
    	SELECT COALESCE(SUM(comment_num),0) FROM t_cmm_post WHERE community_id = #{communityId} and state = 1
    </select>


    <!-- 我的动态 - 我的评论 -->
    <select id="getAllComments" resultType="com.game.common.bean.CommentBean" parameterType="String">
        <!--    <![CDATA[
                  (select id,content,5 as type,1 as targetType,post_id as targetId,date_format(updated_at, '%Y-%c-%d %H:%i:%s' ) as updatedAt, '' as replyToId, '' as replyContentId from t_cmm_comment where member_id = #{userId} and state = 0)
                  UNION ALL
                  (select id,content,8 as type,2 as targetType,mood_id as targetId,date_format(updated_at, '%Y-%c-%d %H:%i:%s' ) as updatedAt, '' as replyToId, '' as replyContentId from t_moo_message where member_id = #{userId} and state = 0)
                  UNION ALL
                  (select id,content,7 as type,target_type as targetType,target_id as targetId,date_format(updated_at, '%Y-%c-%d %H:%i:%s' ) as updatedAt, replay_to_id as replyToId, reply_to_content_id as replyContentId from t_reply where member_id = #{userId} and state = 0)
                  ORDER BY updatedAt DESC

                  and state = 0
                  and state = 0
                  and state = 0
                  ]]> -->

        <![CDATA[
    (select id,content,5 as type,1 as targetType,post_id as targetId,updated_at as updatedAt, '' as replyToId, '' as replyContentId , state from t_cmm_comment where member_id = #{userId}  and  state != -1  )
    UNION ALL
    (select id,content,8 as type,2 as targetType,mood_id as targetId,updated_at as updatedAt, '' as replyToId, '' as replyContentId  , state from t_moo_message where member_id = #{userId} and  state != -1   )
    UNION ALL
    (select id,content,7 as type,target_type as targetType,target_id as targetId,updated_at as updatedAt, replay_to_id as replyToId, reply_to_content_id as replyContentId  , state from t_reply where member_id = #{userId} and  state != -1     )
    ORDER BY updatedAt DESC
   ]]>
    </select>


    <!-- 获取关注社区 -->
    <select id="getFollowerCommunity" resultType="java.util.HashMap">

        select
             name,
             intro,
             icon ,
             id as objectId,
             SUM(followee_num + post_num) as hotNun
        from
        t_cmm_community
        <where>
            <if test="communityIds != null and communityIds.size > 0">
                id IN
                <foreach item="item" index="index" collection="communityIds" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        GROUP BY objectId order by created_at desc
    </select>


    <select id="listOfficialCommunityIds" resultType="java.lang.String">
        select id from t_cmm_community where type = 1 and state = 1
    </select>

    <!--getCommunityListPC2_0 PC2.0圈子首页列表-->
    <select id="getCommunityListPC2_0" resultType="com.fungo.community.entity.portal.CmmCommunityIndex">
        SELECT
            tcc.id AS targetId,
            tcc.game_id AS gameId,
            tcc.`name` AS targetName,
            tcc.icon AS icon,
            tcc.post_num AS postNum,
            COALESCE (SUM(tcp.comment_num), 0) + tcc.followee_num + tcc.post_num AS hotValue
        FROM
            t_cmm_community AS tcc
        LEFT JOIN t_cmm_post AS tcp ON tcc.id = tcp.community_id AND tcp.state = 1
        WHERE
            tcc.state = 1
        GROUP BY
            tcc.id,
            tcc.game_id,
            tcc.`name`,
            tcc.icon,
            tcc.post_num
        ORDER BY
            tcc.type DESC,
            tcc.sort DESC,
            hotValue DESC
        LIMIT #{map.beginRow},#{map.pageSize}
    </select>
    <!--getCommunityListPC2_0Count PC2.0圈子首页列表总数-->
    <select id="getCommunityListPC2_0Count" resultType="java.lang.Integer">
        SELECT
            count(1)
        FROM
            t_cmm_community AS tcc
        WHERE
            tcc.state = 1
    </select>

    <select id="selectCmmCommunityByBrowse" resultType="com.fungo.community.entity.CmmCommunity">
    select  id,name,icon from t_cmm_community where state = 1 and  id  in
        <foreach  item="item" collection="ids" index="index"  open="(" separator="," close=")">
            #{item}
        </foreach>
     order by
        field(
        id,
        <foreach collection="ids" index="index" item="item"   separator=","    >
            #{item}
        </foreach>
        )
    </select>

</mapper>
