<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fungo.community.dao.mapper.CmmCircleDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fungo.community.entity.CmmCircle">
        <id column="id" property="id"/>
        <result column="circle_name" property="circleName"/>
        <result column="circle_icon" property="circleIcon"/>
        <result column="intro" property="intro"/>
        <result column="cmm_id" property="cmmId"/>
        <result column="game_id" property="gameId"/>
        <result column="type" property="type"/>
        <result column="state" property="state"/>
        <result column="followee_num" property="followeeNum"/>
        <result column="hot_value" property="hotValue"/>
        <result column="sort" property="sort"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
        <result column="created_by" property="createdBy"/>
        <result column="updated_by" property="updatedBy"/>
    </resultMap>


    <select id="selectCmmCommunityByBrowse" resultType="com.fungo.community.entity.CmmCircle">
    select  id,circle_name,circle_icon from t_cmm_circle where state = 1 and  id  in
        <foreach  item="item" collection="ids" index="index"  open="(" separator="," close=")">
            #{item}
        </foreach>
     order by
        field(
        id,
        <foreach collection="ids" index="index" item="item"   separator=","    >
            #{item}
        </foreach>
        )
    </select>

</mapper>
