<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fungo.community.dao.mapper.CmmOperationLogMapper">

    <resultMap id="BaseResultMap" type="com.fungo.community.entity.CmmOperationLog" >
        <result column="id" property="id" />
        <result column="circle_id" property="circleId" />
        <result column="member_id" property="memberId" />
        <result column="target_id" property="targetId" />
        <result column="target_type" property="targetType" />
        <result column="old_target_state" property="oldTargetState" />
        <result column="new_target_state" property="newTargetState" />
        <result column="action_type" property="actionType" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <sql id="Base_Column_List">
                id,
                circle_id,
                member_id,
                target_id,
                target_type,
                old_target_state,
                new_target_state,
                action_type,
                created_at,
                updated_at
    </sql>

</mapper>