<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fungo.community.dao.mapper.CmmPostGameMapper">
  <resultMap id="BaseResultMap" type="com.fungo.community.entity.CmmPostGame">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="post_id" jdbcType="VARCHAR" property="postId" />
    <result column="game_id" jdbcType="VARCHAR" property="gameId" />
    <result column="cmm_id" jdbcType="VARCHAR" property="cmmId" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
  </resultMap>
  <sql id="Base_Column_List">
    id, post_id, game_id, cmm_id, created_at, updated_at
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_cmm_post_game
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_cmm_post_game
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.fungo.community.entity.CmmPostGame">
    insert into t_cmm_post_game (id, post_id, game_id, 
      cmm_id, created_at, updated_at
      )
    values (#{id,jdbcType=VARCHAR}, #{postId,jdbcType=VARCHAR}, #{gameId,jdbcType=VARCHAR}, 
      #{cmmId,jdbcType=VARCHAR}, #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fungo.community.entity.CmmPostGame">
    insert into t_cmm_post_game
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="postId != null">
        post_id,
      </if>
      <if test="gameId != null">
        game_id,
      </if>
      <if test="cmmId != null">
        cmm_id,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="updatedAt != null">
        updated_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="postId != null">
        #{postId,jdbcType=VARCHAR},
      </if>
      <if test="gameId != null">
        #{gameId,jdbcType=VARCHAR},
      </if>
      <if test="cmmId != null">
        #{cmmId,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fungo.community.entity.CmmPostGame">
    update t_cmm_post_game
    <set>
      <if test="postId != null">
        post_id = #{postId,jdbcType=VARCHAR},
      </if>
      <if test="gameId != null">
        game_id = #{gameId,jdbcType=VARCHAR},
      </if>
      <if test="cmmId != null">
        cmm_id = #{cmmId,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fungo.community.entity.CmmPostGame">
    update t_cmm_post_game
    set post_id = #{postId,jdbcType=VARCHAR},
      game_id = #{gameId,jdbcType=VARCHAR},
      cmm_id = #{cmmId,jdbcType=VARCHAR},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>