<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fungo.community.dao.mapper.MooMoodDao">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.fungo.community.entity.MooMood">
		<id column="id" property="id" />
		<result column="member_id" property="memberId" />
		<result column="content" property="content" />
		<result column="images" property="images" />
		<result column="cover_image" property="coverImage" />
		<result column="state" property="state" />
		<result column="comment_num" property="commentNum" />
		<result column="like_num" property="likeNum" />
		<result column="created_at" property="createdAt" />
		<result column="updated_at" property="updatedAt" />
		<result column="type" property="type" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, member_id AS memberId, content, images, cover_image AS coverImage, state, comment_num AS commentNum, like_num AS likeNum, created_at AS createdAt, updated_at AS updatedAt, type
    </sql>

</mapper>
