<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fungo.community.dao.mapper.ReplyDao">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.fungo.community.entity.Reply">
		<id column="id" property="id" />
		<result column="content" property="content" />
		<result column="state" property="state" />
		<result column="like_num" property="likeNum" />
		<result column="target_id" property="targetId" />
		<result column="member_id" property="memberId" />
		<result column="replay_to_id" property="replayToId" />
		<result column="target_type" property="targetType" />
		<result column="created_at" property="createdAt" />
		<result column="updated_at" property="updatedAt" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, content, state, like_num AS likeNum, target_id AS targetId, member_id AS memberId, replay_to_id AS replayToId, target_type AS targetType, created_at AS createdAt, updated_at AS updatedAt
    </sql>

</mapper>
