server:
  port: 8761
  # port: 8762
  # port: 8763

spring:
  application:
    name: eureka-server:${spring.cloud.client.ipAddress}:${server.port}


eureka:
  instance:
    ip-address: 172.17.18.227
   #ip-address: 172.17.18.228
    prefer-ip-address: true

  client:
    registerWithEureka: false
    fetchRegistry: false
    serviceUrl:
      defaultZone: http://172.17.18.228:8762/eureka/,http://172.17.18.228:8763/eureka/
      #defaultZone: http://172.17.18.227:8761/eureka/,http://172.17.18.228:8763/eureka/
      #defaultZone: http://172.17.18.227:8761/eureka/,http://172.17.18.228:8762/eureka/

  server:
    #测试时关闭自我保护机制，保证不可用服务及时剔除，生产环境要开启自我保护机制
    enable-self-preservation: true
    #间隔6秒踢出
    eviction-interval-timer-in-ms: 60000