<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.game.common.mapper.BasConfigDao">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.game.common.entity.BasConfig">
		<id column="id" property="id" />
		<result column="key_name" property="keyName" />
		<result column="value_info" property="valueInfo" />
		<result column="created_at" property="createdAt" />
		<result column="updated_at" property="updatedAt" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, key_name AS keyName, value_info AS valueInfo, created_at AS createdAt, updated_at AS updatedAt
    </sql>
    
    <select id="getObjectByTable" resultType="java.util.HashMap" >
    	select * from ${tableName} where id =#{target_id};
    </select>
    
</mapper>
