<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.game.common.mapper.BasMailCodeDao">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.game.common.entity.BasMailCode">
		<id column="id" property="id" />
		<result column="verify_code" property="verifyCode" />
		<result column="is_userd" property="isUserd" />
		<result column="expiration" property="expiration" />
		<result column="state" property="state" />
		<result column="member_id" property="memberId" />
		<result column="phone_number" property="phoneNumber" />
		<result column="created_at" property="createdAt" />
		<result column="updated_at" property="updatedAt" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, verify_code AS verifyCode, is_userd AS isUserd, expiration, state, member_id AS memberId, phone_number AS phoneNumber, created_at AS createdAt, updated_at AS updatedAt
    </sql>

</mapper>
