<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.game.common.mapper.CmmCommentDao">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.game.common.entity.CmmComment">
		<id column="id" property="id" />
		<result column="content" property="content" />
		<result column="reply_num" property="replyNum" />
		<result column="state" property="state" />
		<result column="like_num" property="likeNum" />
		<result column="member_id" property="memberId" />
		<result column="post_id" property="postId" />
		<result column="floor" property="floor" />
		<result column="created_at" property="createdAt" />
		<result column="updated_at" property="updatedAt" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, content, reply_num AS replyNum, state, like_num AS likeNum, member_id AS memberId, post_id AS postId, floor, created_at AS createdAt, updated_at AS updatedAt
    </sql>
    
    <!-- 管控台  文章评论条件查询 -->
    <select id="getCommentsAll" resultType="com.game.common.bean.CommentBean" parameterType="java.util.Map">
    	select m.user_name as username,c.id,c.content,c.like_num as likeNum,p.member_id as poster,p.title,p.community_id as communityId,
    	date_format(c.created_at, '%Y-%m-%d %H:%i:%s' ) as createdAt,p.id as postId
    	from t_cmm_post p,t_cmm_comment c,t_member m
    	<where> 
		    <if test="userId != null">
		    	c.member_id = #{userId}
		    </if> 
		    <if test="communityId != null">
		        and p.community_id = #{communityId}
		    </if>
		    <if test="postId != null">
		    	and p.id = #{postId}
		    </if>
		    <if test="startDate != null">
		       and c.created_at > #{startDate}
		    </if>
		    <if test="endDate != null">
		       and c.created_at <![CDATA[  < ]]> #{endDate}
		    </if>
		    <if test="true">
		       and c.state != -1 and c.member_id = m.id and c.post_id = p.id
		    </if>
	  </where>
	  	order by createdAt
	  <if test="sortCode != 2">
	  	desc
	  </if>
   
    </select>

</mapper>
