<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.game.common.mapper.GameTagAttitudeDao">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.game.common.entity.GameTagAttitude">
		<id column="id" property="id" />
		<result column="game_tag_id" property="gameTagId" />
		<result column="member_id" property="memberId" />
		<result column="attitude" property="attitude" />
		<result column="created_at" property="createdAt" />
		<result column="updated_at" property="updatedAt" />
		<result column="tag_id" property="tagId" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, game_tag_id AS gameTagId, member_id AS memberId, attitude, created_at AS createdAt, updated_at AS updatedAt, tag_id AS tagId
    </sql>

</mapper>
