<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.game.common.mapper.GameReleaseLogDao">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.game.common.entity.GameReleaseLog">
		<id column="id" property="id" />
		<result column="recommend_num" property="recommendNum" />
		<result column="tags" property="tags" />
		<result column="video" property="video" />
		<result column="update_log" property="updateLog" />
		<result column="unrecommend_num" property="unrecommendNum" />
		<result column="apk" property="apk" />
		<result column="download_num" property="downloadNum" />
		<result column="itunes_id" property="itunesId" />
		<result column="compatibility" property="compatibility" />
		<result column="version_child" property="versionChild" />
		<result column="images" property="images" />
		<result column="game_size" property="gameSize" />
		<result column="release_image" property="releaseImage" />
		<result column="name" property="name" />
		<result column="cover_image" property="coverImage" />
		<result column="state" property="state" />
		<result column="image_ratio" property="imageRatio" />
		<result column="icon" property="icon" />
		<result column="edited_at" property="editedAt" />
		<result column="community_id" property="communityId" />
		<result column="member_id" property="memberId" />
		<result column="origin" property="origin" />
		<result column="intro" property="intro" />
		<result column="developer" property="developer" />
		<result column="version_main" property="versionMain" />
		<result column="isbn_id" property="isbnId" />
		<result column="detail" property="detail" />
		<result column="created_at" property="createdAt" />
		<result column="updated_at" property="updatedAt" />
		<result column="created_by" property="createdBy" />
		<result column="updated_by" property="updatedBy" />
		<result column="game_id" property="gameId" />
		<result column="developer_id" property="developerId" />
		<result column="approve_state" property="approveState" />
		<result column="approve_info" property="approveInfo" />
		<result column="isbn_image" property="isbnImage" />
		<result column="copyright_id" property="copyrightId" />
		<result column="copyright_image" property="copyrightImage" />
		<result column="issue_id" property="issueId" />
		<result column="credentials" property="credentials" />
		<result column="android_state" property="androidState" />
		<result column="ios_state" property="iosState" />
		<result column="test_number" property="testNumber" />
		<result column="tset_date" property="tsetDate" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, recommend_num AS recommendNum, tags, video, update_log AS updateLog, unrecommend_num AS unrecommendNum, apk, download_num AS downloadNum, itunes_id AS itunesId, compatibility, version_child AS versionChild, images, game_size AS gameSize, release_image AS releaseImage, name, cover_image AS coverImage, state, image_ratio AS imageRatio, icon, edited_at AS editedAt, community_id AS communityId, member_id AS memberId, origin, intro, developer, version_main AS versionMain, isbn_id AS isbnId, detail, created_at AS createdAt, updated_at AS updatedAt, created_by AS createdBy, updated_by AS updatedBy, game_id AS gameId, developer_id AS developerId, approve_state AS approveState, approve_info AS approveInfo, isbn_image AS isbnImage, copyright_id AS copyrightId, copyright_image AS copyrightImage, issue_id AS issueId, credentials, android_state AS androidState, ios_state AS iosState, test_number AS testNumber, tset_date AS tsetDate
    </sql>
    
    <!-- 已弃用 -->
    <select id="getGameReleaseLogs" resultType="com.game.common.entity.GameReleaseLog" parameterType="java.util.Map">
    	SELECT a.*  
		FROM (SELECT game_id, max(created_at) created_at FROM t_game_release_log GROUP BY game_id) b 
		JOIN t_game_release_log a ON a.game_id = b.game_id AND a.created_at = b.created_at AND
		(a.game_id in <foreach collection="gameIdList" item="item" index="index" open="(" separator="," close=")">  #{item}  </foreach>)
		<if test="key != null and key != ''">
			AND a.`name` LIKE CONCAT('%',#{key},'%')
		</if> 
    
    </select>

</mapper>
