<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.game.common.mapper.IncentRuleRankRiseRefDao">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.game.common.entity.incent.IncentRuleRankRiseRef">
		<id column="id" property="id" />
		<result column="rank_id" property="rankId" />
		<result column="rise_id" property="riseId" />
		<result column="rise_name" property="riseName" />
		<result column="rise_type" property="riseType" />
		<result column="rise_priority" property="risePriority" />
		<result column="rise_vpt_min" property="riseVptMin" />
		<result column="rise_vpt_max" property="riseVptMax" />
		<result column="is_all" property="isAll" />
		<result column="ext1" property="ext1" />
		<result column="ext2" property="ext2" />
		<result column="ext3" property="ext3" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, rank_id AS rankId, rise_id AS riseId, rise_name AS riseName, rise_type AS riseType, rise_priority AS risePriority, rise_vpt_min AS riseVptMin, rise_vpt_max AS riseVptMax, is_all AS isAll, ext1, ext2, ext3
    </sql>

</mapper>
