<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.game.common.mapper.IncentRuleRankDao">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.game.common.entity.incent.IncentRuleRank">
		<id column="id" property="id" />
		<result column="rank_group_id" property="rankGroupId" />
		<result column="rank_code" property="rankCode" />
		<result column="rank_idt" property="rankIdt" />
		<result column="rank_name" property="rankName" />
		<result column="rank_intro" property="rankIntro" />
		<result column="rank_imgs" property="rankImgs" />
		<result column="is_active" property="isActive" />
		<result column="rank_type" property="rankType" />
		<result column="grant_rate" property="grantRate" />
		<result column="ext1" property="ext1" />
		<result column="ext2" property="ext2" />
		<result column="ext3" property="ext3" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, rank_group_id AS rankGroupId, rank_code AS rankCode, rank_idt AS rankIdt, rank_name AS rankName, rank_intro AS rankIntro, rank_imgs AS rankImgs, is_active AS isActive, rank_type AS rankType, grant_rate AS grantRate, ext1, ext2, ext3
    </sql>

</mapper>
