<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.game.common.mapper.IncentAccountGroupDao">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.game.common.entity.incent.IncentAccountGroup">
		<id column="id" property="id" />
		<result column="account_group_name" property="accountGroupName" />
		<result column="is_active" property="isActive" />
		<result column="account_group_intro" property="accountGroupIntro" />
		<result column="account_group_origin" property="accountGroupOrigin" />
		<result column="orgin_name" property="orginName" />
		<result column="account_type" property="accountType" />
		<result column="rmb_conv_rate" property="rmbConvRate" />
		<result column="created_at" property="createdAt" />
		<result column="updated_at" property="updatedAt" />
		<result column="ext1" property="ext1" />
		<result column="ext2" property="ext2" />
		<result column="ext3" property="ext3" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, account_group_name AS accountGroupName, is_active AS isActive, account_group_intro AS accountGroupIntro, account_group_origin AS accountGroupOrigin, orgin_name AS orginName, account_type AS accountType, rmb_conv_rate AS rmbConvRate, created_at AS createdAt, updated_at AS updatedAt, ext1, ext2, ext3
    </sql>

</mapper>
