<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.game.common.mapper.MemberDeviceDao">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.game.common.entity.MemberDevice">
		<id column="id" property="id" />
		<result column="member_id" property="memberId" />
		<result column="device_id" property="deviceId" />
		<result column="account_id" property="accountId" />
		<result column="created_at" property="createdAt" />
		<result column="updated_at" property="updatedAt" />
		<result column="device_type" property="deviceType" />
		<result column="state" property="state" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, member_id AS memberId, device_id AS deviceId, account_id AS accountId, created_at AS createdAt, updated_at AS updatedAt, device_type AS deviceType, state
    </sql>

</mapper>
