<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.game.common.mapper.MessageCodeDao">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.game.common.entity.MessageCode">
		<result column="id" property="id" />
		<result column="msg_type" property="msgType" />
		<result column="msg_code" property="msgCode" />
		<result column="phone_number" property="phoneNumber" />
		<result column="is_used" property="isUsed" />
		<result column="expiration" property="expiration" />
		<result column="createdAt" property="createdAt" />
		<result column="updatedAt" property="updatedAt" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, msg_type AS msgType, msg_code AS msgCode, phone_number AS phoneNumber, is_used AS isUsed, expiration, createdAt, updatedAt
    </sql>

</mapper>
