<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.game.common.mapper.ScoreRuleDao">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.game.common.entity.ScoreRule">
		<id column="id" property="id" />
		<result column="group_id" property="groupId" />
		<result column="name" property="name" />
		<result column="is_active" property="isActive" />
		<result column="extra" property="extra" />
		<result column="tip" property="tip" />
		<result column="max" property="max" />
		<result column="score" property="score" />
		<result column="code" property="code" />
		<result column="intro" property="intro" />
		<result column="created_at" property="createdAt" />
		<result column="updated_at" property="updatedAt" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, group_id AS groupId, name, is_active AS isActive, extra, tip, max, score, code, intro, created_at AS createdAt, updated_at AS updatedAt
    </sql>

</mapper>
