<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.game.common.mapper.SysMockuserDao">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.game.common.entity.SysMockuser">
		<id column="id" property="id" />
		<result column="admin_id" property="adminId" />
		<result column="member_id" property="memberId" />
		<result column="created_at" property="createdAt" />
		<result column="updated_at" property="updatedAt" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, admin_id AS adminId, member_id AS memberId, created_at AS createdAt, updated_at AS updatedAt
    </sql>
    
    <!-- 获取管理员对应的虚拟用户 -->
    <select id="getAssociatedUser" resultType="com.game.common.bean.MockuserBean" parameterType="String">
    	<![CDATA[ 
		SELECT user.id,user_name,gender,sign,publish_num,user.created_at,user.updated_at 
		from t_sys_mockuser mock,t_member user 
		where mock.member_id = user.id and mock.admin_id = #{adminId}
	 ]]>
    
    
    </select>

</mapper>
