<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.game.common.mapper.SysMenuDao">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.game.common.entity.SysMenu">
		<id column="id" property="id" />
		<result column="parent_code" property="parentCode" />
		<result column="parent_codes" property="parentCodes" />
		<result column="tree_sort" property="treeSort" />
		<result column="tree_leaf" property="treeLeaf" />
		<result column="tree_level" property="treeLevel" />
		<result column="tree_names" property="treeNames" />
		<result column="name" property="name" />
		<result column="menu_code" property="menuCode" />
		<result column="type" property="type" />
		<result column="href" property="href" />
		<result column="target" property="target" />
		<result column="icon" property="icon" />
		<result column="permission" property="permission" />
		<result column="is_show" property="isShow" />
		<result column="remarks" property="remarks" />
		<result column="state" property="state" />
		<result column="power" property="power" />
		<result column="power_group" property="powerGroup" />
		<result column="created_at" property="createdAt" />
		<result column="updated_at" property="updatedAt" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, parent_code AS parentCode, parent_codes AS parentCodes, tree_sort AS treeSort, tree_leaf AS treeLeaf, tree_level AS treeLevel, tree_names AS treeNames, name, menu_code AS menuCode, type, href, target, icon, permission, is_show AS isShow, remarks, state, power, power_group AS powerGroup, created_at AS createdAt, updated_at AS updatedAt
    </sql>

</mapper>
