<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.game.common.mapper.SysVersionChannelDao">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.game.common.entity.SysVersionChannel">
		<id column="id" property="id" />
		<result column="linked_version" property="linkedVersion" />
		<result column="channel_name" property="channelName" />
		<result column="game_download_switch" property="gameDownloadSwitch" />
		<result column="index_banner_switch" property="indexBannerSwitch" />
		<result column="apk_url" property="apkUrl" />
		<result column="code" property="code" />
		<result column="created_at" property="createdAt" />
		<result column="updated_at" property="updatedAt" />
		<result column="channel_code" property="channelCode" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, linked_version AS linkedVersion, channel_name AS channelName, game_download_switch AS gameDownloadSwitch, index_banner_switch AS indexBannerSwitch, apk_url AS apkUrl, code, created_at AS createdAt, updated_at AS updatedAt, channel_code AS channelCode
    </sql>

</mapper>
