<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.game.common.mapper.SysVersionDao">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.game.common.entity.SysVersion">
		<id column="id" property="id" />
		<result column="version" property="version" />
		<result column="is_force" property="isForce" />
		<result column="mobile_type" property="mobileType" />
		<result column="intro" property="intro" />
		<result column="created_at" property="createdAt" />
		<result column="updated_at" property="updatedAt" />
		<result column="created_by" property="createdBy" />
		<result column="state" property="state" />
		<result column="apk_url" property="apkUrl" />
		<result column="game_download_switch" property="gameDownloadSwitch" />
		<result column="index_banner_switch" property="indexBannerSwitch" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, version, is_force AS isForce, mobile_type AS mobileType, intro, created_at AS createdAt, updated_at AS updatedAt, created_by AS createdBy, state, apk_url AS apkUrl, game_download_switch AS gameDownloadSwitch, index_banner_switch AS indexBannerSwitch
    </sql>

</mapper>
