<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.game.common.mapper.SysVersionChannellistDao">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.game.common.entity.SysVersionChannellist">
		<id column="id" property="id" />
		<result column="mobile_type" property="mobileType" />
		<result column="channel_code" property="channelCode" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, mobile_type AS mobileType, channel_code AS channelCode
    </sql>

</mapper>
