eureka:
  client:
    serviceUrl:
      defaultZone:  http://127.0.0.1:8761/eureka/
  instance:
    instance-id: ${spring.application.name}:${vcap.application.instance_id:${spring.application.instance_id:${random.value}}}
#    prefer-ip-address: true
    appname: scyp-gateway
server:
  port: 8182
spring:
  application:
    name: fungo-game-gateway
  sleuth:
    sampler:
      percentage: 1.0
  zipkin:
    base-url: http://127.0.0.1:9411/
    sender:
      type: web

## 关闭安全限制
#management:
#  security:
#    enabled: false
#显示路由zuul的端口配置，不配置无法访问 /routes
management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: ALWAYS

#
# 路由配置
zuul:
  host:
    connect-timeout-millis: 15000
    socket-timeout-millis: 60000
  routes:
    fungo-game-system-1:
      path: /api/action/**
      serviceId: FUNGO-GAME-SYSTEM
      sensitiveHeaders:
      strip-prefix: false
    fungo-game-system-2:
      path: /api/report/**
      serviceId:  FUNGO-GAME-SYSTEM
      sensitiveHeaders:
      strip-prefix: false
    fungo-game-system-3:
      path: /api/user/**
      serviceId:  FUNGO-GAME-SYSTEM
      sensitiveHeaders:
      strip-prefix: false
    fungo-game-system-4:
      path: /api/config/**
      serviceId:  FUNGO-GAME-SYSTEM
      sensitiveHeaders:
      strip-prefix: false
    fungo-game-system-5:
      path: /api/mine/**
      serviceId:  FUNGO-GAME-SYSTEM
      sensitiveHeaders:
      strip-prefix: false
    fungo-game-system-6:
      path: /api/checkupdate/**
      serviceId:  FUNGO-GAME-SYSTEM
      sensitiveHeaders:
      strip-prefix: false
    fungo-game-system-7:
      path: /api/checkappupdate/**
      serviceId:  FUNGO-GAME-SYSTEM
      sensitiveHeaders:
      strip-prefix: false
    fungo-game-system-8:
      path: /api/checkiosupdate/**
      serviceId:  FUNGO-GAME-SYSTEM
      sensitiveHeaders:
      strip-prefix: false
    fungo-game-system-9:
      path: /api/about/**
      serviceId:  FUNGO-GAME-SYSTEM
      sensitiveHeaders:
      strip-prefix: false
    fungo-game-system-10:
      path: /api/starInfo/**
      serviceId:  FUNGO-GAME-SYSTEM
      sensitiveHeaders:
      strip-prefix: false
    fungo-game-system-11:
      path: /api/trait/**
      serviceId:  FUNGO-GAME-SYSTEM
      sensitiveHeaders:
      strip-prefix: false
    fungo-game-system-12:
      path: /api/common/**
      serviceId:  FUNGO-GAME-SYSTEM
      sensitiveHeaders:
      strip-prefix: false
    fungo-game-system-13:
      path: /api/mine/initrank/**
      serviceId:  FUNGO-GAME-SYSTEM
      sensitiveHeaders:
      strip-prefix: false
    fungo-game-system-14:
      path: /api/developer/**
      serviceId:  FUNGO-GAME-SYSTEM
      sensitiveHeaders:
      strip-prefix: false
    fungo-game-system-15:
      path: /api/inittaskhonor/**
      serviceId:  FUNGO-GAME-SYSTEM
      sensitiveHeaders:
      strip-prefix: false
    fungo-game-system-16:
      path: /api/push//**
      serviceId:  FUNGO-GAME-SYSTEM
      sensitiveHeaders:
      strip-prefix: false
    fungo-game-system-17:
      path: /api/sys/**
      serviceId:  FUNGO-GAME-SYSTEM
      sensitiveHeaders:
      strip-prefix: false
    fungo-game-system-18:
      path: /api/rank/**
      serviceId:  FUNGO-GAME-SYSTEM
      sensitiveHeaders:
      strip-prefix: false
    fungo-game-system-19:
      path: /api/vd/**
      serviceId:  FUNGO-GAME-SYSTEM
      sensitiveHeaders:
      strip-prefix: false
    fungo-game-system-21:
      path: /api/recommend/index
      serviceId:  FUNGO-GAME-SYSTEM
      sensitiveHeaders:
      strip-prefix: false
    fungo-game-system-22:
      path: /api/mall/**
      serviceId:  FUNGO-GAME-SYSTEM
      sensitiveHeaders:
      strip-prefix: false
    fungo-game-system-23:
      path: /api/advert
      serviceId:  FUNGO-GAME-SYSTEM
      sensitiveHeaders:
      strip-prefix: false
    fungo-game-system-24:
      path: /api/adt/bnr
      serviceId:  FUNGO-GAME-SYSTEM
      sensitiveHeaders:
      strip-prefix: false
    fungo-game-system-25:
      path: /api/recommend/discover
      serviceId:  FUNGO-GAME-SYSTEM
      sensitiveHeaders:
      strip-prefix: false
    fungo-game-system-26:
      path: /api/upload/**
      serviceId:  FUNGO-GAME-SYSTEM
      sensitiveHeaders:
      strip-prefix: false
    fungo-game-system-27:
      path: /api/invite/users
      serviceId:  FUNGO-GAME-SYSTEM
      sensitiveHeaders:
      strip-prefix: false

 #社区接口
    fungo-game-commmunity-1:
      path: /api/content/communitys
      serviceId:  FUNGO-GAME-COMMUNITY
      sensitiveHeaders:
      strip-prefix: false
    fungo-game-commmunity-2:
      path: /api/content/community/**
      serviceId:  FUNGO-GAME-COMMUNITY
      sensitiveHeaders:
      strip-prefix: false
    fungo-game-commmunity-3:
      path: /api/content/comment
      serviceId:  FUNGO-GAME-COMMUNITY
      sensitiveHeaders:
      strip-prefix: false
    fungo-game-commmunity-4:
      path: /api/content/comment/**
      serviceId:  FUNGO-GAME-COMMUNITY
      sensitiveHeaders:
      strip-prefix: false
    fungo-game-commmunity-5:
      path: /api/content/message/**
      serviceId:  FUNGO-GAME-COMMUNITY
      sensitiveHeaders:
      strip-prefix: false
    fungo-game-commmunity-6:
      path: /api/content/comments
      serviceId:  FUNGO-GAME-COMMUNITY
      sensitiveHeaders:
      strip-prefix: false
    fungo-game-commmunity-7:
      path: /api/content/mood
      serviceId:  FUNGO-GAME-COMMUNITY
      sensitiveHeaders:
      strip-prefix: false
    fungo-game-commmunity-8:
      path: /api/content/mood/**
      serviceId:  FUNGO-GAME-COMMUNITY
      sensitiveHeaders:
      strip-prefix: false
    fungo-game-commmunity-9:
      path: /api/content/post
      serviceId:  FUNGO-GAME-COMMUNITY
      sensitiveHeaders:
      strip-prefix: false
    fungo-game-commmunity-10:
      path: /api/content/post/**
      serviceId:  FUNGO-GAME-COMMUNITY
      sensitiveHeaders:
      strip-prefix: false
    fungo-game-commmunity-11:
      path: /api/content/posts
      serviceId:  FUNGO-GAME-COMMUNITY
      sensitiveHeaders:
      strip-prefix: false
    fungo-game-commmunity-12:
      path: /api/amwaywall/postlist
      serviceId:  FUNGO-GAME-COMMUNITY
      sensitiveHeaders:
      strip-prefix: false
    fungo-game-commmunity-13:
      path: /api/recommend/moods
      serviceId:  FUNGO-GAME-COMMUNITY
      sensitiveHeaders:
      strip-prefix: false
    fungo-game-commmunity-17:
      path: /api/content/reply
      serviceId:  FUNGO-GAME-COMMUNITY
      sensitiveHeaders:
      strip-prefix: false
    fungo-game-commmunity-18:
      path: /api/content/replys
      serviceId:  FUNGO-GAME-COMMUNITY
      sensitiveHeaders:
      strip-prefix: false
    fungo-game-commmunity-19:
      path: /api/search/communitys
      serviceId:  FUNGO-GAME-COMMUNITY
      sensitiveHeaders:
      strip-prefix: false
    fungo-game-commmunity-20:
      path: /api/search/posts
      serviceId:  FUNGO-GAME-COMMUNITY
      sensitiveHeaders:
      strip-prefix: false


    #      *****************游戏开始************************************
    fungo-game-games-0:
      path: /api/developer/gemeAnalyze
      serviceId:  FUNGO-GAME-GAMES
      sensitiveHeaders:
      strip-prefix: false
    fungo-game-games-1:
      path: /api/developer/gameHistory
      serviceId:  FUNGO-GAME-GAMES
      sensitiveHeaders:
      strip-prefix: false
    fungo-game-games-2:
      path: /api/content/game/**
      serviceId:  FUNGO-GAME-GAMES
      sensitiveHeaders:
      strip-prefix: false
    fungo-game-games-3:
      path: /api/recommend/pc/**
      serviceId:  FUNGO-GAME-GAMES
      sensitiveHeaders:
      strip-prefix: false
    fungo-game-games-4:
      path: /api/gamereleaselog
      serviceId:  FUNGO-GAME-GAMES
      sensitiveHeaders:
      strip-prefix: false
    fungo-game-games-5:
      path: /api/game/**
      serviceId:  FUNGO-GAME-GAMES
      sensitiveHeaders:
      strip-prefix: false
    fungo-game-games-6:
      path: /api/gameSurveyRel
      serviceId:  FUNGO-GAME-GAMES
      sensitiveHeaders:
      strip-prefix: false
    fungo-game-games-7:
      path: /api/gameEvaluation
      serviceId:  FUNGO-GAME-GAMES
      sensitiveHeaders:
      strip-prefix: false
    fungo-game-games-8:
      path: /api/mk/**
      serviceId:  FUNGO-GAME-GAMES
      sensitiveHeaders:
      strip-prefix: false
    fungo-game-games-9:
      path: /api/tools/game/**
      serviceId:  FUNGO-GAME-GAMES
      sensitiveHeaders:
      strip-prefix: false
    fungo-game-games-10:
      path: /api/amwaywall
      serviceId:  FUNGO-GAME-GAMES
      sensitiveHeaders:
      strip-prefix: false
    fungo-game-games-11:
      path: /api/amwaywall/**
      serviceId:  FUNGO-GAME-GAMES
      sensitiveHeaders:
      strip-prefix: false
    fungo-game-games-12:
      path: /api/make/**
      serviceId:  FUNGO-GAME-GAMES
      sensitiveHeaders:
      strip-prefix: false
    fungo-game-games-13:
      path: /api/invite/**
      serviceId:  FUNGO-GAME-GAMES
      sensitiveHeaders:
      strip-prefix: false
    fungo-game-games-14:
      path: /api/mine/gameList
      serviceId:  FUNGO-GAME-GAMES
      sensitiveHeaders:
      strip-prefix: false
    fungo-game-games-15:
      path: /api/mine/evaluationList
      serviceId:  FUNGO-GAME-GAMES
      sensitiveHeaders:
      strip-prefix: false
    fungo-game-games-16:
      path: /api/search/games
      serviceId:  FUNGO-GAME-GAMES
      sensitiveHeaders:
      strip-prefix: false
    fungo-game-games-17:
      path: /api/tag/**
      serviceId:  FUNGO-GAME-GAMES
      sensitiveHeaders:
      strip-prefix: false
    fungo-game-games-18:
      path: /api/content/games
      serviceId:  FUNGO-GAME-GAMES
      sensitiveHeaders:
      strip-prefix: false
    fungo-game-games-19:
      path: /api/content/gameList
      serviceId:  FUNGO-GAME-GAMES
      sensitiveHeaders:
      strip-prefix: false
    fungo-game-games-20:
      path: /api/content/evaluation
      serviceId:  FUNGO-GAME-GAMES
      sensitiveHeaders:
      strip-prefix: false
    fungo-game-games-21:
      path: /api/content/evaluation/**
      serviceId:  FUNGO-GAME-GAMES
      sensitiveHeaders:
      strip-prefix: false
    fungo-game-games-22:
      path: /api/content/evaluations
      serviceId:  FUNGO-GAME-GAMES
      sensitiveHeaders:
      strip-prefix: false
    fungo-game-games-23:
      path: /api/content/anliEvaluation/**
      serviceId:  FUNGO-GAME-GAMES
      sensitiveHeaders:
      strip-prefix: false

    fungo-game-games-24:
      path: /api/recommend/tag/**
      serviceId:  FUNGO-GAME-GAMES
      sensitiveHeaders:
      strip-prefix: false
    fungo-game-games-25:
      path: /api/recommend/topic
      serviceId:  FUNGO-GAME-GAMES
      sensitiveHeaders:
      strip-prefix: false

  #      *****************游戏2019-05-20结束************************************
    fungo-game-commmunity-14:
      path: /api/recommend/**
      serviceId:  FUNGO-GAME-COMMUNITY
      sensitiveHeaders:
      strip-prefix: false
    fungo-game-system-20:
      path: /api/search/**
      serviceId:  FUNGO-GAME-SYSTEM
      sensitiveHeaders:
      strip-prefix: false


#common.ribbon.listOfServers=http://10.0.0.1:8081/common,http://10.0.0.2:8081/common  #请求需要使用功能区进行负载平衡。
 # 配置超时时间断路器才有效果（加入Zuul）



hystrix:
  command:
    default:
      execution:
        timeout:
          enabled: false
#        isolation:
##          strategy: Semaphore    #隔离策略，默认是Thread, 可选Thread｜Semaphore
#          thread:
#            timeoutInMilliseconds: 40000  #命令执行超时时间，默认1000ms
ribbon:
  ConnectTimeout: 10000
  ReadTimeout: 15000


logging:
  level:
    ROOT: INFO
    org.springframework.web: DEBUG
