eureka:
  client:
    serviceUrl:
      defaultZone:  http://127.0.0.1:8761/eureka/
  instance:
    instance-id: ${spring.application.name}:${vcap.application.instance_id:${spring.application.instance_id:${random.value}}}
#    prefer-ip-address: true
    appname: scyp-gateway
server:
  port: 8182

#-----------------------------------------
fungoServer:
  commmunity.uri: lb://FUNGO-GAME-COMMUNITY
  system.uri: lb://FUNGO-GAME-SYSTEM
  game.uri: lb://FUNGO-GAME-GAMES

spring:
  application:
    name: fungo-game-gateway
  sleuth:
    sampler:
      percentage: 1.0
  zipkin:
    base-url: http://127.0.0.1:9411/
    sender:
      type: web

  #
  # 路由配置
  cloud:
    gateway:
      default-filters:
      discovery:
        locator:
          enabled: true

      #---------------url映射--------------------
      #-------------社区------------------------
      routes:
      - id:fungo-game-commmunity-1:
        uri: ${fungoServer.commmunity.uri}
        predicates:
        - Path=/api/content/communitys
      - id:fungo-game-commmunity-2:
        uri: ${fungoServer.commmunity.uri}
        predicates:
        - Path=/api/content/community/**
      - id:fungo-game-commmunity-3:
        uri: ${fungoServer.commmunity.uri}
        predicates:
        - Path=/api/content/comment
      - id:fungo-game-commmunity-4:
        uri: ${fungoServer.commmunity.uri}
        predicates:
        - Path=/api/content/comment/**
      - id:fungo-game-commmunity-5:
        uri: ${fungoServer.commmunity.uri}
        predicates:
        - Path=/api/content/message/**
      - id:fungo-game-commmunity-6:
        uri: ${fungoServer.commmunity.uri}
        predicates:
        - Path=/api/content/comments
      - id:fungo-game-commmunity-7:
        uri: ${fungoServer.commmunity.uri}
        predicates:
        - Path=/api/content/mood
      - id:fungo-game-commmunity-8:
        uri: ${fungoServer.commmunity.uri}
        predicates:
        - Path=/api/content/mood/**
      - id:fungo-game-commmunity-9:
        uri: ${fungoServer.commmunity.uri}
        predicates:
        - Path=/api/content/post
      - id:fungo-game-commmunity-10:
        uri: ${fungoServer.commmunity.uri}
        predicates:
        - Path=/api/content/post/**
      - id:fungo-game-commmunity-11:
        uri: ${fungoServer.commmunity.uri}
        predicates:
        - Path=/api/content/posts
      - id:fungo-game-commmunity-12:
        uri: ${fungoServer.commmunity.uri}
        predicates:
        - Path=/api/amwaywall/postlist
      - id:fungo-game-commmunity-13:
        uri: ${fungoServer.commmunity.uri}
        predicates:
        - Path=/api/recommend/moods
      - id:fungo-game-commmunity-17:
        uri: ${fungoServer.commmunity.uri}
        predicates:
        - Path=/api/content/reply
      - id:fungo-game-commmunity-18:
        uri: ${fungoServer.commmunity.uri}
        predicates:
        - Path=/api/content/replys
      - id:fungo-game-commmunity-19:
        uri: ${fungoServer.commmunity.uri}
        predicates:
        - Path=/api/search/communitys
      - id:fungo-game-commmunity-19:
        uri: ${fungoServer.commmunity.uri}
        predicates:
        - Path=/api/search/posts

      - id:fungo-game-commmunity-20:
        uri: ${fungoServer.commmunity.uri}
        predicates:
        - Path=/api/recommend/**












hystrix:
  command:
    default:
      execution:
        timeout:
          enabled: false
#        isolation:
##          strategy: Semaphore    #隔离策略，默认是Thread, 可选Thread｜Semaphore
#          thread:
#            timeoutInMilliseconds: 40000  #命令执行超时时间，默认1000ms
ribbon:
  ConnectTimeout: 10000
  ReadTimeout: 15000


logging:
  level:
    ROOT: INFO
    org.springframework.web: DEBUG
