<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fungo.games.dao.GameTagDao">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.fungo.games.entity.GameTag">
		<id column="id" property="id" />
		<result column="game_id" property="gameId" />
		<result column="type" property="type" />
		<result column="like_num" property="likeNum" />
		<result column="dislike_num" property="dislikeNum" />
		<result column="tag_id" property="tagId" />
		<result column="created_at" property="createdAt" />
		<result column="updated_at" property="updatedAt" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, game_id AS gameId, type, like_num AS likeNum, dislike_num AS dislikeNum, tag_id AS tagId, created_at AS createdAt, updated_at AS updatedAt
    </sql>

	<select id="selectGameTag" resultType="java.lang.String" >
		select   bt.name from  t_game_tag gt , t_bas_tag bt
 		WHERE  gt.tag_id = bt.id  and gt.game_id = #{gameId} order  by gt.sort
	</select>

</mapper>
