<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fungo.games.dao.GameCollectionItemDao">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.fungo.games.entity.GameCollectionItem">
		<id column="id" property="id" />
		<result column="group_id" property="groupId" />
		<result column="game_id" property="gameId" />
		<result column="created_at" property="createdAt" />
		<result column="updated_at" property="updatedAt" />
		<result column="show_state" property="showState" />
		<result column="created_by" property="createdBy" />
		<result column="updated_by" property="updatedBy" />
		<result column="sort" property="sort" />
		<result column="state" property="state" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, group_id AS groupId, game_id AS gameId, created_at AS createdAt, updated_at AS updatedAt, show_state AS showState, created_by AS createdBy, updated_by AS updatedBy, sort, state
    </sql>

</mapper>
