<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fungo.games.dao.GameEvaluationDao">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.fungo.games.entity.GameEvaluation">
		<id column="id" property="id" />
		<result column="content" property="content" />
		<result column="images" property="images" />
		<result column="phone_model" property="phoneModel" />
		<result column="reply_num" property="replyNum" />
		<result column="state" property="state" />
		<result column="like_num" property="likeNum" />
		<result column="game_id" property="gameId" />
		<result column="member_id" property="memberId" />
		<result column="is_recommend" property="isRecommend" />
		<result column="created_at" property="createdAt" />
		<result column="updated_at" property="updatedAt" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, content, images, phone_model AS phoneModel, reply_num AS replyNum, state, like_num AS likeNum, game_id AS gameId, member_id AS memberId, is_recommend AS isRecommend, created_at AS createdAt, updated_at AS updatedAt
    </sql>

</mapper>
