<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fungo.games.dao.GameCollectionGroupDao">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.fungo.games.entity.GameCollectionGroup">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="created_at" property="createdAt" />
		<result column="updated_at" property="updatedAt" />
		<result column="state" property="state" />
		<result column="intro" property="intro" />
		<result column="sort" property="sort" />
		<result column="show_type" property="showType" />
		<result column="platform_type" property="platformType" />
		<result column="created_by" property="createdBy" />
		<result column="updated_by" property="updatedBy" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, created_at AS createdAt, updated_at AS updatedAt, state, intro, sort, show_type AS showType, platform_type AS platformType, created_by AS createdBy, updated_by AS updatedBy
    </sql>

	<select id="selectGameCollectionGroupByGameId" resultType="com.fungo.games.entity.GameCollectionGroup" >
		selectSELECT * FROM t_game_collection_group gcg left join t_game_collection_item gci  on gcg.id = gci.group_id WHERE  gci.state = 0 and   gci.game_id =    #{gameId}
	</select>
</mapper>
