<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fungo.games.dao.NewGameDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.game.common.bean.NewGameBean">
        <id column="id" property="id"/>
        <result column="choose_date" property="chooseDate"/>
        <result column="android_state" property="androidState"/>
        <result column="android_status_desc" property="androidStatusDesc"/>
        <result column="name" property="name"/>
        <result column="sort" property="sort"/>
        <result column="game_id" property="gameId"/>
        <result column="origin" property="origin"/>
        <result column="icon" property="icon"/>
        <result column="can_fast" property="canFast"/>
        <result column="circle_id" property="circle_id"/>
        <result column="tags" property="tags"/>
        <result column="score" property="score"/>
        <result column="apk" property="apk"/>
        <result column="version_main" property="versionMain"/>
        <result column="version_child" property="versionChild"/>
        <result column="game_size" property="gameSize"/>
        <result column="android_package_name" property="androidPackageName"/>
    </resultMap>

    <!-- 新游信息查询 -->
    <select id="getNewGameAll" resultMap="BaseResultMap" parameterType="com.game.common.bean.NewGameBean">
        select
        t1.id,
        t1.choose_date,
        t1.game_id,
        t2.android_status_desc,
        t2.name,
        t2.origin,
        t2.icon,
        t2.tags,
        t2.score,
        t2.can_fast,
        t2.android_state,
        t2.apk,
        t2.version_main,
        t2.version_child,
        t2.game_size,
        t2.android_package_name
        from t_game_new t1
        left join t_game t2 on t1.game_id=t2.id
        <where>
            <if test=" startTime!= null">
                t1.choose_date <![CDATA[ >= ]]> #{startTime}
            </if>
            <if test=" endTime!= null">
                and t1.choose_date <![CDATA[ < ]]> #{endTime}
            </if>
        </where>
        and t1.state=0
        order by t1.choose_date desc,t1.sort desc
        LIMIT #{startOffset} ,#{pageSize}
    </select>


    <!-- 新游信息查看往期 -->
    <select id="queryOldGame" resultMap="BaseResultMap" parameterType="com.game.common.bean.NewGameBean">
        SELECT
        t1.id,
        t1.choose_date,
        t1.game_id,
        t2.android_state,
        t2.android_status_desc,
        t2.id as game_id,
        t2.icon,
        t2.name,
        t2.origin,
        t2.tags,
        t2.apk,
        t2.version_main,
        t2.version_child,
        t2.game_size,
        t2.android_package_name
        from t_game_new t1
        left join t_game t2 on t1.game_id=t2.id
        <where>
            <if test=" chooseDate!= null">
                t1.choose_date <![CDATA[ < ]]> #{chooseDate}
            </if>
        </where>
        and t1.state=0
        order by t1.choose_date desc,t1.sort desc
        LIMIT #{startOffset} ,#{pageSize}
    </select>


</mapper>
